<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anakooter.guesstheshape"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/guessicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name=".Play"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LearnActivity"
            android:label="@string/title_activity_learn"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practice"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />

        <service
            android:name=".MusicService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".LearnExamplesActivity"
            android:label="@string/title_activity_learn_examples"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
